<div class="flex flex-col items-center my-8">
  <h1 class="text-center text-3xl">{{ section.settings.title }}</h1>

  <div class="max-w-6xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-2">
      {% for product in section.settings.fetured_collection.products limit: section.settings.number_of_products %}
        {% render 'product-card', product_product: product %}
        {% else %}

            {% for item in (1..4) %}
              {% render 'product-card-placeholder' %}
            {% endfor %}

      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured collection"
    },
    {
      "type": "collection",
      "id": "fetured_collection",
      "label": "Collection"
    },
    {
    "type": "range",
    "id": "number_of_products",
  
    "min": 1,    
    "max": 20,
    "default": 4,
    "label": "Number of products to show",
  
}
  ],
  "presets": [
    {
      "name": "Featured Collection"
     
    }
  ]
}
{% endschema %}
